$font-stack:'Source Sans Pro', sans-serif;
html,body{height:100%; font:100% $font-stack!important}
.wrapper{height:100%; background-position:center; background-size:cover; width:100%;}
.ncs1{
	.navbar-default{
		margin-top:3%;
		background:transparent;
		border:0;
		.navbar-header{
			.navbar-brand{
				padding:0;
				.fa-chevron-left{
					border: 3px solid #337ab7;
			    	border-radius: 50%;
			    	padding: 7px 9px 5px 8px;
			    	color:#337ab7;
				}
				span{
					margin-left:15px;
					color:#337ab7;
				}

			}
		}
		.navbar-right{
			margin-right:0px!important;
			li{
				&:hover{
					background-color:#337ab7;
				}
				a{
					padding:10px 20px;
					border-radius:0px;
					color:#fff;
					font-size:18px!important;
					border:0;
					&:hover{
						background-color:#286090!important;
						border:0;
					}
					&:focus{
						background-color:#286090!important;
						color:#fff;
						border:0;
					}
					span.caret{
						margin-left:20px!important;
					}
				}
			}
			.dropdown{
				.dropdown-menu{
					background-color: #286090;
					li{
						a{
							padding:10px 28px!important;
							&:hover{
								background-color:#20527d!important;
							}
						}
					}
				}
			}
		}
	}
}
