<div class="container-fluid ncs1">
	<nav class="navbar navbar-default">
		   	<div class="navbar-header">
		      <a class="navbar-brand" href="/interactive-app/">
		        <i class="fa fa-chevron-left" aria-hidden="true"></i><span>Back to Aerial View</span>
		      </a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle btn-primary btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View other Buildings <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">consectetur adipiscing </a></li>
		            <li><a href="#">Sed vestibulum purus</a></li>
		            <li><a href="#">Duis congue et nunc</a></li>
		            <li><a href="#">gravida porttitor ulla</a></li>
		            <li><a href="#">Sed dapibus pharetra</a></li>
		            <li><a href="#">Nunc tincidunt pellen</a></li>
		          </ul>
		        </li>
		    </ul>
	</nav>
</div>